:root {
    --black: #000000;
    --charleston-green-v1: #2D2D2D;
    --charleston-green-v2: #2B2B2B;
    --white: #FFFFFF;
    --pink-lace: #F9E6F0;
    --piggy-pink: #F6DCE9;
    --paolo-veronese-green: #009379;
    --anti-flash-white: #F3F3F3;
    --color-menu-link : var(--charleston-green-v1)
    
}
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    line-height: 1.4;
    font-size: 17px;
}

.container {

    width: 90%;
    margin: 0 auto;
    
}
.logo-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px auto;
}
nav.navbar {
    display: none;
}

ul.main-menu {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    display: flex;
    gap: .5rem;
    font-family: "Epilogue", sans-serif;
    font-size: 20px;

}
ul.main-menu li a {
text-decoration: none;
color: var(--charleston-green-v1);
}
.main-menu li a:hover {
    color: gray;
}

.logo {
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.bio {
    background-color: var(--pink-lace);
}
hr {
    width: 80%;
    margin: 0 auto;
}
.footer{
    background-color: var(--anti-flash-white);
}
.titulo{
    font-family: "Epilogue", sans-serif;
    
    height: 42px;
    padding-top: 10%;
}
.informacion{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.iconos-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    margin-bottom: 30px;
}

.formulario-footer form ul li {
    list-style: none;
}

.form-footer{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin: 0 auto;
    width: 50%;

}
.field {
    width: 315px;
    height: 69px;
    font-family: "Epilogue", sans-serif;
}
.field-message {
    width: 315px;
    height: 231px;
    font-family: "Epilogue", sans-serif;
    text-align: start;
}
.boton-form{
    width: 235px ;
    height: 80px;
    color: var(--white);

    background-color: #000000;
}



@media ( min-width: 768px ) {
    .logo-image {
        display: none;
    }
    nav.navbar{
        display: flex;
    }
    .bio-content {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 60%;
        padding: 7rem 0;
    }
    .footer {
        
        display: flex;
        
        background-color: var(--anti-flash-white    );
        
    }
    .titulo {
        padding-top: 15%;
    }
    .informacion{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .iconos-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .7rem;
        margin-bottom: 30px;
    }
    .formulario-footer form {
        padding-top: 10%;
        margin: 0 auto

    }
    .formulario-footer form ul li {
        list-style: none;
    }
    .field {
        width: 530px;
        height: 69px;
    }
    .field-message {
        height: 231px;
        width: 530px ;
    }
    

@media ( min-width: 768px) {

}
@media (min-width:992px) {

}


}