* {
    border: 1px dotted black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    background-color: aquamarine;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 26px auto;
    
}
nav.navbar {
    display: none;
}

ul.main-menu {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    display: flex;
}

.logo {
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

@media ( min-width: 768px ) {
    .header {
        background-color: aqua;
        
    }
    .logo-image {
        display: none;
    }
    nav.navbar{
        display: flex;
    }

}
@media ( min-width: 768px) {

}
@media (min-width:992px) {

}